
.item-template:after {
    clear: both;
}

.item-template > .name {
    float: left;
    margin: 0.5em 0 0 1em;
}
.item-template > .count {
    float: right;
    margin-top: 0.2em;
}
.item-template > .count > span:last-of-type {
    opacity: 0.5;
}
